<header>
  <a href='<%= dashboard %>' class='dashboard'>Dashboard</a>
  <h1 class="banner-title"><%= title %></h1>
  <a href='<%= create %>' class='create-button'>
    Create A New <%= create[:object] %>
  </a>
</header>
