<nav>
  <div class="brand-logo">
    <a href="#">
      <img src="/images/logo.png" alt="Little Shop" />
    </a>
  </div>
  <ul class="right-nav">
    <li>
      <a href="/merchants">Merchants</a>
    </li>
    <li>
      <a href="/items">Items</a>
    </li>
    <li>
      <a href="/invoices">Invoices</a>
    </li>
  </ul>
</nav>