ul.cards {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: space-around;
}

ul.cards .card {
  flex: 1;
  min-width: 350px;
  max-width: 350px;

  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  margin: 0.375em;

  position: relative;
}