ul.collection {

}

ul.collection li.collection-item {
  border: solid 3px black;
  display: flex;
  align-items: center;
}

ul.collection li.collection-item a:nth-child(1) {
  flex-grow: 15;
  padding-left: 20px;
}

ul.collection li.collection-item .secondary-content {
  display: flex;
  margin: 10px;
  justify-content: space-around;
}

ul.collection li.collection-item:nth-child(even) {
  background: #CCC;
}

ul.collection li.collection-item button {
  background: transparent;
  border: 0;
}
