.card img {
  position: relative;
  left:50%;
  transform:translateX(-50%);

  padding: 0.5em;
  padding-bottom: 0;
}

.card .info {
  text-align: center;
  padding: 0.5em;
}

.card .info * {
  padding: 0.25em;
}