body {
  font-family: Roboto, Arial;
}

nav {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;

  padding: 0 1em;

  position: relative;

  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.25);
  z-index: 10;
}

nav a:hover {
  text-decoration: underline;
}

nav ul.right-nav {
  padding: 0.5em;
}

nav ul.right-nav li {
  display: inline-block;
}

nav ul.right-nav li a {
  color: #8f8f8f;
}

nav .brand-logo {
  position: absolute;
  left: 1em;
  height:100%;
}

nav .brand-logo img {
  height: 85%;
  position: relative;
  top:50%;
  transform:translateY(-50%);
}

nav a {
  text-align: center;
  padding: 10px;
  font-size: 24;
  text-decoration: none;
}

nav .title {
  text-align: left;
  font-size: 24;
  flex-grow: 8;
}

.button:not(.icon) {
  border: 1px solid #AAA;
  border-radius: 5px;
  padding:0.5em;
  margin:0;
  text-decoration: none;
  cursor: pointer;
}

.button.delete {
  font-size: 1em;
}

.button.edit {
  padding-left: 1.125em;
  padding-right: 1.125em;
}

.button.icon {
  font-size: 1.5em;

  color: #333;
  text-decoration: none ;

  cursor: pointer;

  transition: color 0.25s;
}

.button.icon.delete {
  padding-left: 10px;
  background: none;
  border: none;
}

.button.icon.delete:hover {
  color: #FF0000;
}

.button.icon.edit:hover {
  color: #FFA900;
}

.container {
  width: 90%;
  position: relative;
  left:50%;
  transform:translateX(-50%);
}

.dashboard {
  position: absolute;
}

.banner-title {
  color: black;
  font-size: 36;
}

.summary {
  height: 15%;
  margin: 20px;
  background-color: #598bdb;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.summary-item * {
  font-size: 1.25em;
  margin: 10px;
}

.content {
  margin: 10px;
}

.merch_id {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.dashboard-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  margin-left: 15px;
  margin-bottom: 15px;
}

.dashboard-info .category {
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
  text-decoration: underline;
}
