body {
  font-family: Roboto, Arial;
}

nav {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;

  padding: 0 1em;
}

nav a:hover {
  text-decoration: underline;
}
nav .title, nav a {
  color: #696969;
  font: helvetica;
}

nav a {
  text-align: center;
  padding: 10px;
  font-size: 24;
  text-decoration: none;
}

nav .title {
  text-align: left;
  font-size: 24;
  flex-grow: 8;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dddddd;
  height: 150px;
  position:relative;
}

header .title-container {
  position: absolute;
  left:50%;
  transform: translateX(-50%);

  height: 100%;
}

header .title-container .box {
  position: relative;
  top:50%;
  transform: translateY(-50%);
}

header .title-container .box .title {
  position: relative;
  margin-bottom: 0.5em;
  text-align: center;

  font-size: 2em;
}

header .title-container .box .button {
  color: #666;
  background: #CCC;
}

header .linkBack {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}

.button {
  border: 1px solid #AAA;
  border-radius: 2px;
  padding:0.5em;
  margin:0;
  text-decoration: none;
  cursor: pointer;
}

.button.edit {
  background-color: #ffef77;
  color: black;
  padding: 10px;
  margin: 5px;
  font-size: 14;
}

.button.delete {
  background-color: #ba4227;
  padding: 10px;
  margin: 5px;
  font-size: 14;
}


.container {
  width: 90%;
  position: relative;
  left:50%;
  transform:translateX(-50%);
}

.dashboard {
  position: absolute;
}

.banner-title {
  color: black;
  font-size: 36;
}