.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.item-show {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

.item-image {
  flex-grow: 3;
}

.item-image h2 {
  font-size: 1.75em;
  margin: 5px;
}

.item-image img {
  width: 80%;
  margin: 5px;
}

.item-description {
  flex-grow: 4;
  margin-top: 10px;
}

.item-description h2 {
  font-size: 1.25em;
  font-weight: 200;
  margin: 5px;
}

.item-description p {
  margin-top: 5px;
  line-height: 1.25;
}
