<%=
  erb :'partials/header',
      locals: {
        title: "Edit #{merchant.name}",
        dashboard: nil,
        buttons: nil
      }
%>

<div class="container col-6">
  <form action="/merchants/<%= merchant.id %>" method="POST" class="input-form">
    <input type='hidden' name='_method' value='PUT' />
    <h2 class="field-title">Name</h2>
    <input type="text" name="merchant[name]" value="<%= merchant.name %>">
    <div class="buttons">
      <a href="/merchants" class="button cancel">Cancel</a>
      <button type="submit" class="button create">Update Merchant</button>
    </div>
  </form>
</div>
