<%=
  erb :'partials/header',
      locals: {
        title: 'Create New Item',
        dashboard: nil,
        create: nil
      }
%>

<div class="container col-6" style="background:#FF0000;">
  <form action="/items/new" method="POST">

  </form>
</div>