<%=
  erb :'partials/header',
      locals: {
        title: nil,
        brand_logo: '/images/logo-large.png',
        dashboard: nil,
        buttons: nil
      }
%>

<div class="container">
  <div class="text">
    <h2>Welcome to Little Shop!</h2>
    <div class="shop"></div>
  </div>
</div>