<html>
  <head>
    <title>Little Shop</title>
    <link rel="stylesheet" href="/css/master.css" />
  </head>
  <body>

    <nav>
      <p class='title'>Little Shop</p>
      <a href="/merchants">Merchants</a>
      <a href="/items">Items</a>
      <a href="/invoices">Invoices</a>
    </nav>

    <%= yield %>
  </body>
</html>
