<html>
  <head>
    <title>Little Shop</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/master.css" />
    <link rel="stylesheet" href="/css/cols.css" />

    <!-- OBJECT CSS -->
    <link rel="stylesheet" href="/css/cards.css" />
    <link rel="stylesheet" href="/css/collections.css" />
    <link rel="stylesheet" href="/css/create_page.css" />
    <link rel="stylesheet" href="/css/forms.css">

    <!-- PAGE SPECIFIC CSS -->
    <link rel="stylesheet" href="/css/items.css" />

    <!-- FONT AWESOME PRO -->
    <script defer src="https://pro.fontawesome.com/releases/v5.0.8/js/regular.js" integrity="sha384-SIp/+zr0hyfSVIQPkAwB/L1h4fph6T3CmU4mE7IFtGJlgwoCko0Bye/1J0sjyh4v" crossorigin="anonymous"></script>
    <script defer src="https://pro.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-Ht3fAeBiX/rVmKVyMwONAIIt0aRoPzZgq1FzdRgR9zFo+Kcd8YDwUbFlTItfaYW4" crossorigin="anonymous"></script>
  </head>
  <body>

    <%= erb :"partials/nav" %>

    <%= yield %>
  </body>
</html>
