<html>
  <head>
    <title>Little Shop</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/master.css" />
    <link rel="stylesheet" href="/css/items.css" />
  </head>
  <body>

    <%= erb :"partials/nav" %>

    <%= yield %>
  </body>
</html>
