<html>
  <head>
    <title>Little Shop</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/master.css" />
    <link rel="stylesheet" href="/css/cols.css" />

    <!-- OBJECT CSS -->
    <link rel="stylesheet" href="/css/cards.css" />
    <link rel="stylesheet" href="/css/collections.css" />

    <!-- PAGE SPECIFIC CSS -->
    <link rel="stylesheet" href="/css/items.css" />
  </head>
  <body>

    <%= erb :"partials/nav" %>

    <%= yield %>
  </body>
</html>
